html {
    font-family: "Verdana", sans-serif;
    font-weight: normal;
    background-color: black;
    text-align: center;
    color: #fff;
}

img {
    border: 15px solid transparent;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

h3 {
    font-size: 21px;
    color: gray;
}

p {
    font-size: 16px;
    color: gray;
}

a {
   font-size: 16px; 
   color: aquamarine;
}

footer {
    text-align: right;
}